// font
$font:         'Quicksand', sans-serif;

// color
$w:            #ffffff;
$main-blue:    #37A6B9;
$b:            #000000;
$c-title:      #3A3638;
$c-grey:       #F2F2F2;
$c-red:        #EE4844;