#page404 {
   position: relative;
   background: #181925; /* Old browsers */
   background: -moz-linear-gradient(top, #181925 0%, #363b5c 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #181925 0%,#363b5c 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #181925 0%,#363b5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181925', endColorstr='#363b5c',GradientType=0 ); /* IE6-9 */
   border-top: 7px solid $main-blue;
   padding-top: 10px;
   height: 100vh;
   min-height: 800px;
   @media screen and (max-width:375px) {
      min-height: 700px;
   }
   
   .hero_content {
      text-align: center;
      h1 {
         font-size: 15rem;
         font-weight: 100;
         margin: 20px 0 0;
         @media screen and (max-width:1024px) {
            margin: 14rem 0 0;
         }
         @media screen and (max-width:768px) {
            margin: 10rem 0 0;
         }
         @media screen and (max-width:425px) {
            margin: 5rem 0 0;
            font-size: 10rem;
         }
         @media screen and (max-width:375px) {
            font-size: 8rem;
         }
      }
      .title_section {
         color: $w;
         font-weight: 700;
         margin-bottom: 15px;
         @media screen and (max-width:425px) {
            font-size: 30px;
         }
         @media screen and (max-width:375px) {
            font-size: 25px;
         }
      }
      p {
         color: #93949B;
         max-width: 55%;
         margin: 0 auto 35px;
         @media screen and (max-width:425px) {
            max-width: 80%;
         }
      }
      span {
         color: $w;
      }
      .form-control {
         background-color: #202233;
         width: 40%;
         margin: auto;
         color: $w;
         font-size: 14px;
         border: none;
         border-radius: 20px;
         padding: .5rem 1.5rem !important;
         @media screen and (max-width:425px) {
            width: 45%;
         }
      }
      ::-webkit-input-placeholder {
         /* Chrome/Opera/Safari */
         color: $w;
         font-family: $font;
      }
      ::-moz-placeholder {
         /* Firefox 19+ */
         color: $w;
         font-family: $font;
      }
      :-ms-input-placeholder {
         /* IE 10+ */
         color: $w;
         font-family: $font;
      }
      :-moz-placeholder {
         /* Firefox 18- */
         color: $w;
         font-family: $font;
      }

   }

}