#book {
   position: relative;
   z-index: 0;
   background-image: url('../images/bg-reserve.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50%;
   padding-top: 90px;
   padding-bottom: 80px;
   color: $w;
   text-transform: uppercase;
   height: 912px;
   @media screen and (max-width: 425px) {
      height: 1700px;
   }
   .book_header {
      max-width: 30%;
      margin: auto;
      @media screen and (max-width: 768px) {
         max-width: 35%;
      }
      @media screen and (max-width: 425px) {
         max-width: 60%;
      }
      .title_section {
         color: $w;
      }
      .sub_title_section {
         letter-spacing: 1px;
         @media screen and (max-width: 425px) {
            padding: 0 55px;
         }
         @media screen and (max-width: 375px) {
            padding: 0 50px;
         }
      }
   }
   .form-grey {
      h4 {
         font-size: 20px;
         text-align: center;
         letter-spacing: 1px;
         margin-bottom: 1rem;
      }
      form {
         @media screen and (max-width: 425px) {
            padding-bottom: 70px;
         }
         .form-group {
            ::-webkit-input-placeholder {
               /* Chrome/Opera/Safari */
               color: $w;
               font-family: $font;
               font-style: italic;
            }
            ::-moz-placeholder {
               /* Firefox 19+ */
               color: $w;
               font-family: $font;
               font-style: italic;
            }
            :-ms-input-placeholder {
               /* IE 10+ */
               color: $w;
               font-family: $font;
               font-style: italic;
            }
            :-moz-placeholder {
               /* Firefox 18- */
               color: $w;
               font-family: $font;
               font-style: italic;
            }
            .form-control {
               background-color: rgba($color: $w, $alpha: .5);
               color: $w;
               font-family: $font;
               font-style: italic;
               border-radius: 0;
               height: 55px;
            }
            textarea {
               height: 188px !important;
               padding-top: 20px;
               padding-bottom: 20px;
            }
         }
         .btn {
            display: inline-block;
            padding: 15px 28px;
            background-color: $w;
            color: $main-blue;
            letter-spacing: 3px;
            margin-top: 30px;
            font-weight: 700;
            border-radius: 100px;
            transition: all .3s ease-in-out;
            &:hover,
            &:active,
            &:focus {
               background-color: $main-blue;
               color: $w;
            }
         }
      }
   }
   .form-blue {
      h4 {
         color: $main-blue;
      }
      form {
         .form-group {
            .form-control {
               background-color: rgba($color: $main-blue, $alpha: .5);
            }
         }
         .btn {
            background-color: $main-blue;
            color: $w;
            &:hover {
               background-color: $w;
               color: $main-blue;
            }
         }
      }
   }
}