#footer {
   background-color: $b;
   color: $w;
   padding-top: 60px;
   padding-bottom: 40px;
   border-top: 1px solid $w;
   @media screen and (max-width: 425px) {
      padding-top: 30px;
      padding-bottom: 30px;
   }
   .content {
      @media screen and (max-width: 1200px) {
         font-size: 14px;
      }
      @media screen and (max-width: 768px) {
         font-size: 12px;
      }
      p {
         font-style: italic;
         @media screen and (max-width: 425px) {
            margin: 0 100px;
         }
         @media screen and (max-width: 375px) {
            margin: 0 80px;
         }
      }
      ul {
         padding: 0;
         @media screen and (max-width: 425px) {
            margin: 0 128px;
         }
         @media screen and (max-width: 375px) {
            margin: 0 100px;
         }
         li {
            display: inline-block;
            padding-right: 10px;
            @media screen and (max-width: 768px) {
               padding-right: 6px;
            }
            a {
               .fa {
                  font-size: 25px;
                  @media screen and (max-width: 1200px) {
                     font-size: 20px;
                  }
                  @media screen and (max-width: 768px) {
                     font-size: 14px;
                  }
               }
            }
         }
      }
   }
   .middle {
      ul {
         @media screen and (max-width: 425px) {
            display: none;
         }
         li {
            border-right: 1px solid $w;
            padding-left: 10px;
         }
         .no-border {
            border-right: none;
         }
      }
   }
}