#main_header {
	position: relative;
	z-index: 0;
	color: $w;
	text-transform: uppercase;
	.carousel-item {
		height: 100vh;
		min-height: 800px;
		background: no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		@media screen and (max-width: 1024px) {
			min-height: 768px;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.31);
			z-index: -1;
		}
	}
	.carousel-control-next,
	.carousel-control-prev {
		width: 5% !important;
		@media screen and (max-width: 425px) {
			top: 85%;
		}
	}
	.carousel-indicators {
		@media screen and (max-width: 425px) {
			display: none;
		}
	}
	.carousel-control-prev {
		@media screen and (max-width: 425px) {
			left: 10px;
		}
	}
	.carousel-control-next {
		@media screen and (max-width: 425px) {
			right: 5px;
		}
	}
	.content-header {
		position: relative;
		margin-top: -55%;
		@media screen and (max-width: 1199px) {
			margin-top: -62%;
		}
		@media screen and (max-width:1024px) {
			margin-top: -128%;
		}
		@media screen and (max-width:768px) {
			margin-top: -134%;
		}
		@media screen and (max-width:425px) {
			margin-top: -193%;
		}
		@media screen and (max-width:375px) {
			margin-top: -213%;
		}
		@media screen and (max-width:360px) {
			margin-top: -222%;
		}
		.navbar {
			.navbar-toggler {
				border-color: $w;
				outline: 0;
				.fa {
					color: $w;
				}
			}
			.navbar-nav {
				li {
					display: inline-block;
					a {
						position: relative;
						display: block;
						font-size: 16px;
						padding-right: 0;
						padding-left: 0;
						padding-bottom: 15px;
						margin: 10px 25px;
						@media screen and (max-width: 1199px) {
							margin: 0px 20px;
						}
						@media screen and (max-width:425px) {
							font-size: 13px;
						}
						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 3px;
							visibility: hidden;
							transform: scaleX(0);
							background-color: $w;
							transition: all .3s ease;
							@media screen and (max-width: 425px) {
								display: none;
							}
						}
						&:hover,
						&:active,
						&:focus {
							color: $w;
							&::after {
								transform: scaleX(1);
								visibility: visible;
							}
						}
					}
				}
			}
			@media screen and (max-width:992px) {
				padding-top: 30px;
				.collapse.show,
				.collapsing {
					position: absolute;
					left: 0;
					top: 95px;
					width: 100%;
					background-color: $main-blue;
					text-align: center;
					.navbar-nav {
						padding: 30px 0;
					}
					li {
						a {
							padding-top: 15px;
							padding-bottom: 15px;
						}
					}
				}
			}
		}
		.hero_content {
			padding-top: 100px;
			max-width: 750px;
			text-align: center;
			@media screen and (max-width: 1024px) {
				padding-top: 365px;
			}
			@media screen and (max-width:768px) {
				padding-top: 220px;
			}
			@media screen and (max-width:425px) {
				padding-top: 95px;
			}
			h1 {
				font-size: 56px;
				font-weight: 700;
				margin: 15px 0;
				letter-spacing: 10px;
				@media screen and (max-width: 425px) {
					font-size: 40px;
					text-align: right;
				}
				@media screen and (max-width:360px) {
					font-size: 36px;
				}
			}
			p {
				text-transform: initial;
				letter-spacing: 3px;
				max-width: 700px;
				margin-bottom: 55px;
				@media screen and (max-width: 425px) {
					font-size: 13px;
				}
			}
			h3,
			a {
				letter-spacing: 4px;
			}
			.hero_p {
				@media screen and (max-width: 425px) {
					font-size: 17px;
				}
			}
			.btn {
				display: inline-block;
				padding: 15px 28px;
				background-color: $main-blue;
				color: $w;
				font-weight: 700;
				border-radius: 100px;
				transition: all .3s ease-in-out;
				@media screen and (max-width: 425px) {
					font-size: 13px;
				}
				&:hover,
				&:active,
				&:focus {
					background-color: #2f8f9f;
				}
			}
		}
	}
}
