#menu {
	background-color: $c-grey;
	height: 1300px;
	text-align: center;
	@media screen and (max-width: 1200px) {
		height: 1250px;
	}
	@media screen and (max-width:768px) {
		height: 1550px;
	}
	@media screen and (max-width:425px) {
		height: 2850px;
	}
	@media screen and (max-width:375px) {
		height: 2600px;
	}
	@media screen and (max-width:360px) {
		height: 2530px;
	}
	.title_menu {
		position: relative;
		padding-top: 160px;
		padding-bottom: 25px;
		text-align: left;
		max-width: 44%;
		margin: auto;
		@media screen and (max-width: 1200px) {
			padding-top: 90px;
			max-width: 50%;
		}
		@media screen and (max-width:425px) {
			padding-top: 80px;
			padding-bottom: 0;
			max-width: 90%;
			.title_section {
				padding: 0 40px;
			}
			.hr-style {
				margin-left: 40px;
			}
			.sub_title_section {
				margin-top: 50px;
				margin-bottom: 60px;
			}
		}
		@media screen and (max-width:375px) {
			padding-top: 70px;
		}
		.sub_title_section {
			letter-spacing: 1px;
		}
	}
	.content {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		@media screen and (max-width: 425px) {
			margin-bottom: 10px;
		}
		.img-content {
			position: relative;
		}
		.overlay {
			position: absolute;
			left: 0;
			bottom: -100%;
			width: 300px;
			height: 300px;
			margin: 25px 40px;
			padding: 60px 30px;
			background: rgba(55, 166, 185, .5);
			color: $w;
			text-align: center;
			letter-spacing: 3px;
			transition: all 0.35s ease-in-out;
			@media screen and (max-width: 1200px) {
				width: 265px;
				height: 265px;
				margin: 12px 28px;
				padding: 35px 30px;
			}
			@media screen and (max-width:1024px) {
				width: 250px;
				height: 250px;
				margin: 20px 35px;
				padding: 20px 30px;
			}
			@media screen and (max-width:768px) {
				width: 280px;
				height: 280px;
				margin: 25px 40px;
				padding: 35px 30px;
			}
			@media screen and (max-width:425px) {
				width: 320px;
				height: 320px;
				margin: 30px 48px;
				padding: 55px 30px;
			}
			@media screen and (max-width:375px) {
				margin: 12px 28px;
				padding: 55px 30px;
			}
			@media screen and (max-width:360px) {
				width: 300px;
				height: 300px;
				margin: 15px 30px;
				padding: 50px 30px;
			}
		}
		h4 {
			font-size: 24px;
			font-weight: 500;
		}
		h3 {
			font-size: 40px;
			font-weight: 700;
			margin: 15px 0 90px;
		}
		.btn {
			display: inline-block;
			padding: 12px 28px;
			background-color: $w;
			color: $main-blue;
			font-weight: 500;
			border-radius: 100px;
		}
		&:hover,
		&:active,
		&:focus {
			.overlay {
				bottom: 0;
			}
		}
	}
	.btn-menu {
		display: inline-block;
		padding: 12px 28px;
		background-color: $main-blue;
		color: $w;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 50px 0;
		border-radius: 100px;
		transition: all .3s ease-in-out;
		&:hover,
		&:active,
		&:focus {
			background-color: #2f8f9f;
			text-decoration: none;
		}
	}
}