#testimony {
   background-image: url('../images/bg-say.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50%;
   color: $w;
   text-transform: uppercase;
   padding-top: 60px;
   height: 640px;
   @media screen and (max-width: 768px) {
      height: 675px;
   }
   @media screen and (max-width: 425px) {
      height: 710px;
   }
   .title_testimony {
      max-width: 30%;
      margin: auto;
      padding-bottom: 15px;
      @media screen and (max-width: 768px) {
         max-width: 40%;
      }
      @media screen and (max-width: 425px) {
         max-width: 60%;
      }
      .title_section {
         color: $w;
         letter-spacing: 3px;
      }
      .sub_title_section {
         letter-spacing: 1px;
      }
   }
   .content-slider {
      text-align: center;
      max-width: 70%;
      @media screen and (max-width: 768px) {
         max-width: 90%;
      }
      @media screen and (max-width: 375px) {
         max-width: 100%;
      }
      .testimony-img {
         border: 4px solid $w;
         border-radius: 50%;
      }
      .sub_title_section {
         color: $main-blue;
         text-transform: uppercase;
         display: block;
         margin: 15px 0 20px;
      }
      p {
         display: inline-block;
         color: $w;
         text-transform: initial;
         letter-spacing: 2px;
         line-height: 22px
      }
   }
}